<!DOCTYPE html>
<html>

<head>
    {% block head %}

    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <table id="menu">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="menu" id="sidemenu">
                        <ul>
                            <strong>Menu</strong>
                            <li><a class="menu" href="/hostname_form">Hostname Form</a></li>
                            <li><a class="menu" href="/hello">Hello</a></li>
                            <li><a class="menu" href="/">Home</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <main>
                        {% block body %}

                        {% endblock body %}
                    </main>
                </td>
            </tr>
        </tbody>
    </table>
</body>

<footer>
<hr>
<p>Test Project</p>
</footer>

</html>
