
{% extends "base.html" %}

{% block head %}
<title>Hostname Form</title>
{% endblock head %}

{% block body %}
<table>
    <tr>
        <td>
            <h3>Hostname: </h3>
        </td>
        <td>
            <input type="text" name="hostname">
        </td>
    </tr>
</table>

<button type="submit" onclick="postHostname()">Submit</button>
<script>
    function postHostname() {
        var hostname = document.querySelector('input[name="hostname"]').value;
        var data = {
            "hostname": hostname
        };
        var headers = {
            "Content-Type": "application/json"
        };
        fetch('/hostname', {
            method: 'POST',
            headers: headers,
            body: JSON.stringify(data)
        })
        .then(response => response.text())
        .then(html => {
            // Display the returned HTML
            document.body.innerHTML = html;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>
{% endblock body %}
